<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="layout.css">
  <title>Footer</title>
</head>
<body>

  <footer class="footer">
    <div class="container">
      <div class="site">
        <a href="index.html" aria-label="サイトトップへ">
          <svg xmlns="http://www.w3.org/2000/svg" width="110.494" height="96.695" viewBox="0 0 29.235 25.584">
            <path d="" fill="#fff"/>
          </svg>
        </a>
      </div>
      <ul class="sns">
        <li>
          <a href="https://twitter.com/ja2yka" target="_blank" rel="noopener noreferrer" aria-label="YKAのTwitter">
            <i class="fab fa-twitter"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://line.me/R/ti/p/%40ips4296d" target="_blank" rel="noopener noreferrer" aria-label="YKAのLINE">
            <i class="fab fa-line"></i>
            <span class="sr-only">LINE</span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCPu87u74zE7VvWyJdsr1Vmg" target="_blank" rel="noopener noreferrer" aria-label="YKAのYoutube">
            <i class="fab fa-youtube"></i>
            <span class="sr-only">Youtube</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <a href="privacypolicy.html">プライバシーポリシー</a>
      <p>© 2021 名古屋大学アマチュア無線研究会</p>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
